.Toolbar{
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #01a3ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    color: #fff;
}
.Toolbar nav{
    height: 100%;
}
.LogoContainer{
    height: 100%;
}
@media(max-width: 549px){
    .DesktopOnly{
        display: none;
    }
}
@media(min-width: 550px){
    .MobileOnly{
        display: none;
    }
}